<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="TestSuite" >
<listeners>
<listener class-name="com.app.webdriver.common.testnglisteners.BrowserAndTestEventListener" />
<listener class-name="com.app.webdriver.common.testnglisteners.InvokeMethodAdapter" />
<listener class-name="com.app.webdriver.common.testnglisteners.TestAnnotationTransformerListener" />

</listeners>
<test name="testGuru">
<classes>
<class name="com.app.webdriver.testcases.cmp.Test1">
</class>
</classes>
</test>
</suite>